<div class="row">
    <div class="col-sm-12">
        <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Galéria kategória lista</h3>
        <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>

        <div class="table-toolbar">
            <div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/uj-galeria-kategoria/" class="sendEnter enter fa-plus">Új Galéria kategória hozzáadása </a></div>
        </div>

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="example2">

            <script type="text/javascript">

                function toggle(source) {
                    var checkboxes = document.getElementsByClassName('select_row');
                    for ( var i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = source.checked;
                    }
                }

            </script>

            <thead>
            <tr class="table-header-repeat">
                <th class="checkers"><input type="checkbox" class="check_all_input" title="{php}echo LANG_AdminListTableHeader_osszes;{/php}" onchange="toggle(this);"></th>
                <th>Kategória címe</th>
                <th>Link</th>
                <th>Létrehozási dátuma</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for record in galeryCategoryList %}
                <tr class="data_row">
                    <td class="checkers" style="width: 15px"><input type="checkbox" id="select_row" class="select_row" name="select_row[{{ record.getId }}]" value="{{ record.getId }}"></td>
                    <td class="center">{{ record.getTitle|e }}</td>
                    <td class="center">{{ record.getLink|e }}</td>
                    <td class="center">{{ record.getHunCreateDate }}</td>
                    <td>
                        <div class="sc_team_item_socials button_group">
                            <div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/galeria-kategoria/szerkesztes/{{ record.getId }}" class="sendEnter enter fa-edit">Szerkesztés</a></div>
                            <div class="sc_delete_btn squareButton light ico"><a href="#torles" class="user-popup-link fa-remove" onclick="initDeleteButton('deleteEmail', {{ record.getId }}, '{{ ADMIN_DOMAIN }}/galeria-kategoria/torles/{{ record.getId }}');">Törlés</a></div>
                        </div>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

