<div class="row">
    <div class="col-sm-12">
        <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Photo lista</h3>
        <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>

        <!--div class="table-toolbar">
            <div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/uj-photo/" class="sendEnter enter fa-plus">Új photo hozzáadása </a></div>
        </div-->

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="example2">

            <script type="text/javascript">

                function toggle(source) {
                    var checkboxes = document.getElementsByClassName('select_row');
                    for ( var i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = source.checked;
                    }
                }

            </script>

            <thead>
                <tr class="table-header-repeat">
                    <th class="checkers"><input type="checkbox" class="check_all_input" title="{php}echo LANG_AdminListTableHeader_osszes;{/php}" onchange="toggle(this);"></th>
                    <th></th>
                    <th>Kép címe</th>
                    <th>Galéria azonosító</th>
                    <th>Létrehozási dátuma</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% for photo_record in photoList %}
                <tr class="data_row">
                    <td class="checkers" style="width: 15px"><input type="checkbox" id="select_row" class="select_row" name="select_row[{{ photo_record.getId }}]" value="{{ photo_record.getId }}"></td>
                    <td class="center"><img src="{{ DOMAIN }}/{{ photo_record.getSrc|e }}&w=160&h=120"></td>
                    <td class="center">{{ photo_record.getTitle|e }}</td>
                    <td class="center">{{ photo_record.getGaleryId|e }}</td>
                    <td class="center">{{ photo_record.getHunCreateDate }}</td>
                    <td>
                        <div class="sc_team_item_socials button_group">
                            <!--div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/photo/szerkesztes/{{ photo_record.getId }}" class="sendEnter enter fa-edit">Szerkesztés</a></div-->
                            <div class="sc_delete_btn squareButton light ico"><a href="#torles" class="user-popup-link fa-remove" onclick="initDeleteButton('deletePhoto', {{ photo_record.getId }}, '{{ ADMIN_DOMAIN }}/photo/torles/{{ photo_record.getId }}');">Törlés</a></div>
                        </div>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

