<div class="row">
    <div class="col-sm-12">
        <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Felhasználó lista</h3>
        <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
        <div class="sc_team">

            {% for user in userList %}

                <div class="col-md-3 col-sm-6 margin_bottom_small">
                    <div class="sc_team_item">
                        <div class="sc_team_item_avatar">
                            <img alt="stuff-2.jpg" src="{{ user.getProfilePhoto|e }}">
                            <div class="sc_team_item_description">
                                {% if user.getType == 1 %} (ADMIN felhasználó) {% else %} (Felhasználó) {% endif %}
                                <br> Regisztráció dátuma:<br> {{ user.getHunRegDate }}
                                <br>{% if user.getConfirmed == 1 %} Megetrősítve:<br> {{ user.getHunConfirmationDate }} {% else %} Még nincs megerősítve {% endif %}
                                <br> Az útójára bejelentkezett:<br> {{ user.getHunLastLogin }}
                                <br> Összes bejelentkezések száma:<br> {{ user.getSzumLogin }}
                            </div>
                        </div>
                        <div class="sc_team_item_info">
                            <h3 class="sc_team_item_title">{{ user.getName|e }}</h3>
                            <div class="sc_team_item_position theme_accent2">{{ user.getEmail|e }}</div>
                            {% if user.getId != 1 %}
                                <div class="sc_team_item_socials button_group">
                                    <div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/felhasznalo/szerkesztes/{{ user.getId }}" class="sendEnter enter fa-edit">Szerkesztés</a></div>
                                    <div class="sc_delete_btn squareButton light ico"><a href="#torles" class="user-popup-link fa-remove" onclick="initDeleteButton('deleteUser', {{ user.getId }}, '{{ ADMIN_DOMAIN }}/felhasznalo/torles/{{ user.getId }}');">Törlés</a></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
    </div>
</div>