<div class="row">
    <div class="col-sm-12">
        <div class="sc_edit_form sc_edit_form_edit">
            <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Felhasználó adatainak szerkesztése</h3>
            <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
            <form id="editForm" data-formtype="edit" method="post" action="{{ ADMIN_DOMAIN }}/felhasznalo/mentes/{{ user.getId }}">
                <div class="result sc_infobox"></div>
                <div class="columnsWrap">
                    <div class="col-sm-12">
                        <div class="header_user_photo">
                            <img src="{{ DOMAIN }}/{{ user.getProfilePhoto|e }}" alt="{{ user.getName|e }}">
                        </div>
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_name">Név</label>
                        <input id="edit_form_name" type="text" name="name" value="{{ user.getName|e }}">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_childname">E-mail cím</label>
                        <input id="edit_form_email" type="text" name="email" value="{{ user.getEmail|e }}">
                    </div>
                </div>

                <!--div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_contact_form_groupname">Csoport név</label>
                        <input id="sc_contact_form_username" type="text" name="group_name" value="{{ email.getGroupName|e }}">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="sc_contact_form_email">E-mail cím</label>
                        <input id="sc_contact_form_email" type="text" name="email" value="{{ email.getEmail|e }}">
                    </div>
                </div-->

                <div class="sc_edit_form_button">
                    <div class="squareButton ico">
                        <a href="{{ ADMIN_DOMAIN }}/felhasznalo/" class="sc_edit_form_submit fa-arrow-left" >Vissza a felhasználó listához</a>
                    </div>
                    <div class="squareButton ico">
                        <a href="#mentes" class="sc_edit_form_submit fa-floppy-o" onclick="initEditSubmitButton(this, 'updateUser');">Mentés</a>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

