<script type="text/javascript">
    $(function() {
        $("#edit_form_title").removeAccents({ target: $("#edit_form_link"), bind:"change" });
        $("#edit_form_link").removeAccents();
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="sc_edit_form sc_edit_form_edit">
            <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Új galéria hozzáadása</h3>
            <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
            <form id="editForm" data-formtype="edit" method="post" action="{{ ADMIN_DOMAIN }}/uj-galeria/mentes">
                <div class="result sc_infobox"></div>
                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_title">Galéria Kategória</label>
                        <Select id="edit_form_category" type="text" name="category_id">
                            {% for  category_record in galeryCategoryList %}
                                <option value="{{ category_record.getId }}">{{ category_record.getTitle|e }}</option>
                            {% endfor %}
                        </Select>
                    </div>
                </div>
                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_title">Galéria Címe</label>
                        <input id="edit_form_title" type="text" name="title">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_link">Link</label>
                        <input id="edit_form_link" type="text" name="link">
                    </div>
                </div>
                <div class="columnsWrap">
                    <div class="col-sm-12">
                        <label class="required" for="sc_edit_form_text">Galéria leírás</label>
                        <textarea class="textarea_small" id="edit_form_text" name="text"></textarea>
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="form-group col-sm-12">
                        <input id="file-upload" name="images[]" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpg,image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Képek hozzáadása a galériához">
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="result sc_infobox"></div>
                </div>

                <div class="sc_team_item_socials button_group">
                    <div class="sc_edit_form_button">
                        <div class="squareButton ico">
                            <a href="{{ ADMIN_DOMAIN }}/galeria/" class="sc_edit_form_submit fa-arrow-left" >Vissza a galéria listához</a>
                        </div>
                        <div class="squareButton ico">
                            <a href="#mentes" class="sc_edit_form_submit fa-floppy-o" onclick="initEditSubmitButton(this, 'insertGalery');">Mentés</a>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.querySelector('#file-upload').addEventListener('change', function(e) {
        var files = this.files;
        var fd = new FormData();


        for(var i = 0; i < files.length; i++){
            fd.append("image"+i, files[i]);
        }
        fd.append("images_count", files.length);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ ADMIN_DOMAIN }}/file_upload/', true);

        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                var percentComplete = (e.loaded / e.total) * 100;
                console.log(percentComplete + '% képek feltöltve');
            }
        };
        xhr.onload = function() {
            if (this.status == 200) {
                console.log('Server got:');
                console.log(this.response);
            };
        };
        xhr.send(fd);
    }, false);
</script>
