<div class="row">
    <div class="col-sm-12">
        <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Szülői e-mail lista</h3>
        <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>

        <div class="table-toolbar">
            <div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/uj-email/" class="sendEnter enter fa-plus">Új szülői e-mail cím hozzáadása </a></div>
        </div>

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="example2">

            <script type="text/javascript">

                function toggle(source) {
                    var checkboxes = document.getElementsByClassName('select_row');
                    for ( var i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = source.checked;
                    }
                }

            </script>

            <thead>
                <tr class="table-header-repeat">
                    <th class="checkers"><input type="checkbox" class="check_all_input" title="{php}echo LANG_AdminListTableHeader_osszes;{/php}" onchange="toggle(this);"></th>
                    <th>Szülő neve</th>
                    <th>Gyermek neve</th>
                    <th>Csoport neve</th>
                    <th>E-mail cím</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% for email_record in emailList %}
                <tr class="data_row">
                    <td class="checkers" style="width: 15px"><input type="checkbox" id="select_row" class="select_row" name="select_row[{{ email_record.getId }}]" value="{{ email_record.getId }}"></td>
                    <td class="center">{{ email_record.getName|e }}</td>
                    <td class="center">{{ email_record.child_name|e }}</td>
                    <td class="center">{{ email_record.group_name|e }}</td>
                    <td class="center">{{ email_record.getEmail|e }}</td>
                    <td>
                        <div class="sc_team_item_socials button_group">
                            <div class="sc_cancel_btn squareButton light ico"><a href="{{ ADMIN_DOMAIN }}/email/szerkesztes/{{ email_record.getId }}" class="sendEnter enter fa-edit">Szerkesztés</a></div>
                            <div class="sc_delete_btn squareButton light ico"><a href="#torles" class="user-popup-link fa-remove" onclick="initDeleteButton('deleteEmail', {{ email_record.getId }}, '{{ ADMIN_DOMAIN }}/email/torles/{{ email_record.getId }}');">Törlés</a></div>
                        </div>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

