<script type="text/javascript">
    $(function() {
        $("#edit_form_title").removeAccents({ target: $("#edit_form_link"), bind:"change" });
        $("#edit_form_link").removeAccents();
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="sc_edit_form sc_edit_form_edit">
            <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Új blog hozáadása</h3>
            <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
            <form id="editForm" data-formtype="edit" method="post" action="{{ ADMIN_DOMAIN }}/blog/mentes/{{ blog.getId }}">
                <div class="result sc_infobox"></div>
                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="edit_form_title">Blog Címe</label>
                        <input id="edit_form_title" type="text" name="title" value="{{ blog.getTitle|e }}">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="edit_form_link">Link</label>
                        <input id="edit_form_link" type="text" name="link" value="{{ blog.getLink|e }}">
                    </div>
                </div>
                <!--div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_start_date">Megjelenítés (tól)</label>
                        <input id="edit_form_start_date" type="text" name="start_date" class="datepicker">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_end_date">Megjelenítés (ig)</label>
                        <input id="edit_form_end_date" type="text" name="end_date" class="input-xlarge datepicker">
                    </div>
                </div-->
                <div class="columnsWrap">
                    <div class="col-sm-12">
                        <label class="required" for="edit_form_text">Blog szövege</label>
                        <textarea class="textarea_big" id="edit_form_text" name="text">{{ blog.getText }}</textarea>
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label for="edit_form_galery">Galéria Hozzáadása</label>
                        <Select id="edit_form_galery" type="text" name="galery_id">
                            {% for  record in galeryList %}
                                <option value="{{ record.getId }}" {% if record.getId == blog.getGaleryId %} selected="selected" {% endif %}>{{ record.getTitle|e }}</option>
                            {% endfor %}
                        </Select>
                    </div>
                </div>
                <!--div class="columnsWrap">
                    <div class="form-group col-sm-12">
                        <input id="file-upload" name="images[]" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpg,image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Képek hozzáadása a bloghoz">
                    </div>
                </div-->

                <div class="columnsWrap">
                    <div class="result sc_infobox"></div>
                </div>

                <div class="sc_team_item_socials button_group">
                    <div class="sc_edit_form_button">
                        <div class="squareButton ico">
                            <a href="{{ ADMIN_DOMAIN }}/blog/" class="sc_edit_form_submit fa-arrow-left" >Vissza a blog listához</a>
                        </div>
                        <div class="squareButton ico">
                            <a href="#mentes" class="sc_edit_form_submit fa-floppy-o" onclick="initEditSubmitButton(this, 'updateBlog');">Mentés</a>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>


