<div class="row">
    <div class="col-sm-12">
        <div class="sc_edit_form sc_edit_form_edit">
            <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Új szülői e-mail cím hozzáadása</h3>
            <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
            <form id="editForm" data-formtype="edit" method="post" action="{{ ADMIN_DOMAIN }}/uj-email/mentes">
                <div class="result sc_infobox"></div>
                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_name">Szülő név</label>
                        <input id="edit_form_name" type="text" name="name">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_childname">Gyermek név</label>
                        <input id="edit_form_child_name" type="text" name="child_name">
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_groupname">Csoport név</label>
                        <input id="edit_form_group_name" type="text" name="group_name">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="sc_edit_form_email">E-mail cím</label>
                        <input id="edit_form_email" type="text" name="email">
                    </div>
                </div>
                <div class="sc_team_item_socials button_group">
                    <div class="sc_edit_form_button">
                        <div class="squareButton ico">
                            <a href="{{ ADMIN_DOMAIN }}/email/" class="sc_edit_form_submit fa-arrow-left" >Vissza az email listához</a>
                        </div>
                        <div class="squareButton ico">
                            <a href="#mentes" class="sc_edit_form_submit fa-floppy-o" onclick="initEditSubmitButton(this, 'insertEmail');">Mentés</a>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
