<script type="text/javascript">
    $(function() {
        $("#edit_form_title").removeAccents({ target: $("#edit_form_link"), bind:"change" });
        $("#edit_form_link").removeAccents();
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="sc_edit_form sc_edit_form_edit">
            <h3 class="sc_title sc_title_regular text-left margin_bottom_mini">Új Tartalom hozáadása</h3>
            <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
            <form id="editForm" data-formtype="edit" method="post" action="{{ ADMIN_DOMAIN }}/tartalom/mentes/{{ content.getId }}">
                <div class="result sc_infobox"></div>
                <div class="columnsWrap">
                    <div class="col-sm-6">
                        <label class="required" for="edit_form_title">Blog Címe</label>
                        <input id="edit_form_title" type="text" name="title" value="{{ content.getTitle|e }}">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="edit_form_link">Link</label>
                        <input id="edit_form_link" type="text" name="link" value="{{ content.getLink|e }}">
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="col-sm-12">
                        <label class="required" for="edit_form_text">Tartalom szövege</label>
                        <textarea class="textarea_big" id="edit_form_text" name="text">{{ content.getText }}</textarea>
                    </div>
                </div>

                <div class="columnsWrap">
                    <div class="result sc_infobox"></div>
                </div>

                <div class="sc_team_item_socials button_group">
                    <div class="sc_edit_form_button">
                        <div class="squareButton ico">
                            <a href="{{ ADMIN_DOMAIN }}/tartalom/" class="sc_edit_form_submit fa-arrow-left" >Vissza a tartalom listához</a>
                        </div>
                        <div class="squareButton ico">
                            <a href="#mentes" class="sc_edit_form_submit fa-floppy-o" onclick="initEditSubmitButton(this, 'updateContent');">Mentés</a>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>


