{% extends "base_admin_index.html" %}

    {% block title %}
        <title>Kistemplomi Családi Napközi Hálózat | Admin felület </title>
    {% endblock %}

    {% block css %}
        <!-- Bootstrap -->
        <link href="{{ DOMAIN }}/resources/admin_bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css">
        <link href="{{ DOMAIN }}/resources/admin_bootstrap/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" type="text/css">

        <link href="{{ DOMAIN }}/resources/admin_bootstrap/assets/DT_bootstrap.css" rel="stylesheet" media="screen" type="text/css">
        <link media="screen" rel="stylesheet" href="{{ DOMAIN }}/resources/admin_bootstrap/vendors/jGrowl/jquery.jgrowl.css">
        <link href="{{ DOMAIN }}/resources/admin_bootstrap/vendors/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
        <link href="{{ DOMAIN }}/resources/admin_bootstrap/vendors/uniform.default.css" rel="stylesheet" media="screen">
        <link href="{{ DOMAIN }}/resources/admin_bootstrap/vendors/chosen.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ DOMAIN }}/resources/admin_bootstrap/vendors/morris/morris.css" media="screen"  type="text/css">
        <link href="{{ DOMAIN }}/resources/admin_bootstrap/assets/styles.css" rel="stylesheet" media="screen" type="text/css">

        <!-- site css -->
        <link rel="stylesheet" href="{{ DOMAIN }}/resources/css/minified.css.php" />
        <link rel="stylesheet" id="packed-styles-css" href="{{ DOMAIN }}/resources/css/__packed.css" type="text/css" media="all">
        <link rel="stylesheet" href="{{ DOMAIN }}/resources/css/admin_main_style.css">
        <link rel="stylesheet" id="theme-skin-css" href="{{ DOMAIN }}/resources/css/admin.css" type="text/css" media="all">
        <style id="theme-skin-inline-css" type="text/css"></style>
        <link rel="stylesheet" id="responsive-css" href="{{ DOMAIN }}/resources/css/responsive.css" type="text/css" media="all">

        <link rel="stylesheet" href="{{ DOMAIN }}/resources/fileinput/fileinput.min.css">
        <!--<link rel="stylesheet" type="text/css" media="all" href="custom_tools/css/custom_tools.css">-->
    {% endblock %}

    {% block js %}
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="{{ DOMAIN }}/resources/admin_bootstrap/jquery.js"></script>
        <script type="text/javascript">
            var DOMAIN_ADMIN="{{ DOMAIN_ADMIN }}";

        </script>
    {% endblock %}

    {% block header %}
        {% embed "header.twig" %}{% endembed %}
    {% endblock %}


    {% block content %}
        {% if LOGGED %}
            {% embed "admin_content_section.twig" %}{% endembed %}
        {% else %}
            {% embed "admin_login_section.twig" %}{% endembed %}
        {% endif %}
    {% endblock %}


    {% block footer %}
        {% embed "footer_section.twig" %}{% endembed %}
    {% endblock %}

    {% block preloader %}
        {% embed "preloader.twig" %}{% endembed %}
    {% endblock %}

    {% block css_js %}
        {% embed "css_js_after_content.twig" %}{% endembed %}
    {%  endblock %}

