
<script src="{{ DOMAIN }}/resources/js/vendor/jquery-1.11.3.min.js"></script>
<script src="{{ DOMAIN }}/resources/js/vendor/bootstrap.min.js"></script>
<script src="{{ DOMAIN }}/resources/js/vendor/jquery.ui.totop.js"></script>
<script src="{{ DOMAIN }}/resources/js/vendor/mediaelement/mediaelement-and-player.min.js"></script>

<!--<script src="custom_tools/js/customizer.js"></script>-->

<script type="text/javascript" src="{{ DOMAIN }}/resources/js/main/__packed.js"></script>
<script type="text/javascript" src="{{ DOMAIN }}/resources/js/main/shortcodes_init.min.js"></script>
<script type="text/javascript" src="{{ DOMAIN }}/resources/js/main/_main.js"></script>
<script src="{{ DOMAIN }}/resources/js/vendor/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="{{ DOMAIN }}/resources/js/main/g_maps.js"></script>

<script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/datatables/js/jquery.dataTables.min.js"></script>

<script src="{{ DOMAIN }}/resources/admin_bootstrap/jquery.removeAccents.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/assets/DT_bootstrap.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/ckeditor/ckeditor.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/ckeditor/adapters/jquery.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/jquery.uniform.min.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/chosen.jquery.min.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/vendors/bootstrap-datetimepicker.js"></script>
<script src="{{ DOMAIN }}/resources/admin_bootstrap/assets/scripts.js"></script>
<script src="{{ DOMAIN }}/resources/fileinput/fileinput.min.js"></script>



