

<section class="footerContentWrap">

    <footer>
        <p>
            © 2015 &nbsp;&bull;&nbsp; Minden jog fenntartva &nbsp;&bull;&nbsp; <a class="klassz_honlap"  target="_blank" href="http://www.sabero.hu"> <strong>Ouechtati Saber</strong></a>
        </p>
    </footer>

</section>