<header id="header" class="menu_right with_user_menu noFixMenu">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="topWrap">
                    <div class="usermenu_area">
                        <div class="container">
                            <div class="menuUsItem menuItemRight">
                                <ul id="usermenu" class="usermenu_list sf-arrows">
                                    <li class="usermenu_cart">

                                    </li>
                                        {% if LOGGED %}
                                            <li class="usermenu_login">
                                                <a href="#kijelentkezes" class="user-popup-link fa-sign-out"> Kijelentkezés</a>
                                            </li>
                                        {% else %}
                                            <li class="usermenu_login">
                                                <a href="#admin_bejelentkezes" class="user-popup-link fa-sign-in"> Bejelentkezés</a>
                                            </li>
                                        {% endif %}
                                    <li class="usermenu_sound">
                                        <a href="#" class="fa-volume-up" title="Hang be/ki"></a>
                                        <ul>
                                            <li>
                                                <a href="#" class="sound_mainmenu fa fa-close"> Főmenü</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_othermenu fa fa-close"> További menűpontok</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_buttons fa fa-check"> Gombok</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_links fa fa-close"> Linkek</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="menuUsItem menuItemLeft">
                                Kistemplomi Családi Napközi <span class="halozat_1">hálózat</span> &nbsp;&nbsp;&nbsp; {% if LOGGED %} Üdvözöljük {{ LoggedUser.getName|e }}! {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="topWrap">
                    <div class="container">
                        <div class="mainmenu_area">
                            <div class="logo logo_left with_text">
                                <span>
                                    <img src="pic/logo/admin_logo.png" class="logo_main" alt="">
                                    <img src="pic/logo/admin_logo.png" class="logo_fixed" alt="">
                                    <!--span class="logo_text">Admin felület</span-->
                                    <!--span class="logo_slogan">Premium Children HTML Theme</span-->
                                </span>
                            </div>
                            {% if LOGGED %}
                            <div class="header_user_photo">
                                <img src="{{ DOMAIN }}/{{ LoggedUser.getProfilePhoto|e }}" alt="{{ LoggedUser.getName|e }}">
                            </div>
                            {% endif %}
                            <!--div class="search" title="Open/close search form">
                                <div class="searchForm">
                                    <form method="get" class="search-form" action="#">
                                        <button type="submit" class="searchSubmit" title="Start search">
                                            <span class="icoSearch"></span>
                                        </button>
                                        <input type="text" class="searchField" placeholder="Search …" value="" name="s" title="Search for:">
                                    </form>
                                </div>
                                <div class="ajaxSearchResults"></div>
                            </div-->
                            <a href="#" class="openResponsiveMenu">Menu</a>
                            <nav id="mainmenu_wrapper" class="menuTopWrap topMenuStyleLine">
                                <ul id="mainmenu" class="nav sf-menu sf-arrows">

                                    <li class="menu-item active">
                                        <a href="{{ DOMAIN }}/" target="_blank" class="sf-with-ul"><span class="home_icon fa-home"></span></a>
                                    </li>

                                    {% if LOGGED %}
                                        <!-- Felhasználó -->
                                        <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                            <a href="#" class="sf-with-ul">Felhasználó</a>
                                            <ul class="menu-panel columns">
                                                <li>
                                                    <ul class="custom-menu-style columns sub-menu" style="width: 200px;">
                                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                            <ul class="sub-menu">
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/felhasznalo/">
                                                                        <span class="menu_icon fa-user"></span>
                                                                        Felhasználó lista
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/email/">
                                                                        <span class="menu_icon fa-envelope-o"></span>
                                                                        Szülői e-mail lista
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/uj-email/">
                                                                        <span class="menu_icon fa-plus"></span>
                                                                        Új szülői e-mail cím
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>


                                        <!-- Galéria -->
                                        <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                            <a href="#" class="sf-with-ul">Galéria</a>
                                            <ul class="menu-panel columns">
                                                <li>
                                                    <ul class="custom-menu-style columns sub-menu" style="width: 200px;">
                                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                            <ul class="sub-menu">
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/galeria-kategoria/">
                                                                        <span class="menu_icon fa-photo"></span>
                                                                        Galéria kategóriák
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/uj-galeria-kategoria/">
                                                                        <span class="menu_icon fa-plus"></span>
                                                                        Új galéria kategória
                                                                    </a>
                                                                </li>

                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/galeria/">
                                                                        <span class="menu_icon fa-photo"></span>
                                                                        Galéria lista
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/uj-galeria/">
                                                                        <span class="menu_icon fa-plus"></span>
                                                                        Új galéria
                                                                    </a>
                                                                </li>

                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/photo/">
                                                                        <span class="menu_icon fa-photo"></span>
                                                                        Photo lista
                                                                    </a>
                                                                </li>
                                                                <!--li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/uj-photo/">
                                                                        <span class="menu_icon fa-plus"></span>
                                                                        Új photo
                                                                    </a>
                                                                </li-->
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>


                                        <!-- Blog -->
                                        <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                            <a href="#" class="sf-with-ul">Blog</a>
                                            <ul class="menu-panel columns">
                                                <li>
                                                    <ul class="custom-menu-style columns sub-menu" style="width: 200px;">
                                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                            <ul class="sub-menu">
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/blog/">
                                                                        <span class="menu_icon fa-bookmark"></span>
                                                                        Blog lista
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/uj-blog/">
                                                                        <span class="menu_icon fa-plus"></span>
                                                                        Új blog
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/hozzaszolasok/">
                                                                        <span class="menu_icon fa-comment"></span>
                                                                        hozzászólások
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>


                                        <!-- Tartalom -->
                                        <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                            <a href="#" class="sf-with-ul">Tartalom</a>
                                            <ul class="menu-panel columns">
                                                <li>
                                                    <ul class="custom-menu-style columns sub-menu" style="width: 200px;">
                                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                            <ul class="sub-menu">
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/tartalom/">
                                                                        <span class="menu_icon fa-bookmark"></span>
                                                                        Tartalom lista
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ ADMIN_DOMAIN }}/uj-tartalom/">
                                                                        <span class="menu_icon fa-plus"></span>
                                                                        Új tartalom
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>