<section class="mainWrap with_sidebar sideBarLeft">
    <div class="container" role="main">
        <div class="row content">
            <div class="col-sm-12">

                <div class="{{ class }}">
                    <div class="titleError">{{ titleError }} </div>
                    <div class="h2">{{ h2_title }}</div>
                    <p>
                        Vissza a
                        <a href="{{ DOMAIN }}">Kistemplomi Családi Napközi Hálózat</a>
                        főoldalára.
                    </p>
                    <div class="inputSubmitAnimation radCircle">
                        <form class="search_form" action="#" method="get">
                            <input type="text" class="sInput" name="s" value="" placeholder="Keresés">
                        </form>
                        <a href="#" class="searchIcon aIco search" title="Search"></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>