<header id="header" class="menu_right with_user_menu noFixMenu">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="topWrap">
                    <div class="usermenu_area">
                        <div class="container">
                            <div class="menuUsItem menuItemRight">
                                <ul id="usermenu" class="usermenu_list sf-arrows">
                                    <li class="usermenu_cart">

                                    </li>
                                    {% if action == "blog" %}
                                        {% if LOGGED %}
                                            <li class="usermenu_login">
                                                <p>
                                                    <a href="#kijelentkezes" class="user-popup-link fa-logout"> Kijelentkezés</a>
                                                </p>
                                            </li>
                                        {% else %}
                                            <li class="usermenu_login">
                                                <a href="#user-popUp" class="user-popup-link fa-sign-in"> Bejelentkezés</a>
                                            </li>
                                        {% endif %}

                                    {% endif %}
                                    <li class="usermenu_sound">
                                        <a href="#" class="fa-volume-up" title="Hang be/ki"></a>
                                        <ul>
                                            <li>
                                                <a href="#" class="sound_mainmenu fa fa-close"> Főmenü</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_othermenu fa fa-close"> További menűpontok</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_buttons fa fa-check"> Gombok</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_links fa fa-close"> Linkek</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="menuUsItem menuItemLeft">
                                Kistemplomi Családi Napközi <span class="halozat_1">hálózat</span> &nbsp;&nbsp;&nbsp; Üdvözöljük {{ LoggedUser.user_name|e }}!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="topWrap">
                    <div class="container">
                        <div class="mainmenu_area">
                            <div class="logo logo_left with_text">
                                <a href="index.html">
                                    <span class="logo_text">{{ titleError }} </span>
                                    <!--span class="logo_slogan">Premium Children HTML Theme</span-->
                                </a>
                            </div>
                            <div class="search" title="Open/close search form">
                                <div class="searchForm">
                                    <form method="get" class="search-form" action="#">
                                        <button type="submit" class="searchSubmit" title="Start search">
                                            <span class="icoSearch"></span>
                                        </button>
                                        <input type="text" class="searchField" placeholder="Search …" value="" name="s" title="Search for:">
                                    </form>
                                </div>
                                <div class="ajaxSearchResults"></div>
                            </div>
                            <a href="#" class="openResponsiveMenu">Menu</a>
                            <nav id="mainmenu_wrapper" class="menuTopWrap topMenuStyleLine">
                                <ul id="mainmenu" class="nav sf-menu sf-arrows">

                                    <li class="menu-item active">
                                        <a href="{{ DOMAIN }}/" class="sf-with-ul">Főoldal</a>
                                    </li>

                                    <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                        <a href="#" class="sf-with-ul">Aktuális</a>
                                        <ul class="menu-panel columns">
                                            <li>
                                                <ul class="custom-menu-style columns sub-menu">
                                                    <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                        <a href="#" class="sf-with-ul">{{ Csana }} <br> Családi Napközi</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="{{ DOMAIN }}/{{ csana }}/#rolunk">
                                                                    <span class="menu_icon fa-info"></span>
                                                                    Rólunk
                                                                </a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{{ DOMAIN }}/{{ csana }}/#napirend">
                                                                    <span class="menu_icon fa-calendar-o"></span>
                                                                    Napirend
                                                                </a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{{ DOMAIN }}/{{ csana }}/#arak">
                                                                    <span class="menu_icon fa-money"></span>
                                                                    Árak
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children menu-item thumb custom_view_item">
                                        <!--a href="blog_masonry_4_columns.html" class="sf-with-ul">Galéria</a-->
                                        <a href="{{ DOMAIN }}/{{ csana }}/#galeria" class="sf-with-ul">Galéria</a>
                                        <ul class="menu-panel thumb">
                                            <li>
                                                <ul class="custom-menu-style thumb sub-menu">
                                                    <li>
                                                        <a href="images_style_1.html" data-author="John Doe" data-pubdate="March 8, 2014" data-thumb="{{ DOMAIN }}/pic/menu/masonry6-400x266.jpg" data-title="Maecenas tristique sem ante" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Maecenas tristique sem ante" src="{{ DOMAIN }}/pic/menu/masonry6-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_2.html" data-author="John Doe" data-pubdate="March 3, 2014" data-thumb="{{ DOMAIN }}/pic/menu/portfolio_item-400x257.jpg" data-title="Vivamus pharetra justo eget" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Vivamus pharetra justo eget" src="{{ DOMAIN }}/pic/menu/portfolio_item-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_3.html" data-author="John Doe" data-pubdate="February 28, 2014" data-thumb="{{ DOMAIN }}/pic/menu/9435123826_a4c3b35c08_o-400x266.jpg" data-title="Sed orci odio" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Sed orci odio" src="{{ DOMAIN }}/pic/menu/9435123826_a4c3b35c08_o-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_1.html" data-author="John Doe" data-pubdate="February 26, 2014" data-thumb="{{ DOMAIN }}/pic/menu/portfolio16x9_2-400x300.jpg" data-title="Ut vitae lacus pretium" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Ut vitae lacus pretium" src="{{ DOMAIN }}/pic/menu/portfolio16x9_2-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_2.html" data-author="John Doe" data-pubdate="February 20, 2014" data-thumb="{{ DOMAIN }}/pic/menu/masonry4-400x300.jpg" data-title="Duis consequat arcu et lacus" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Duis consequat arcu et lacus" src="{{ DOMAIN }}/pic/menu/masonry4-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog_post_review.html" data-author="John Doe" data-pubdate="February 19, 2014" data-thumb="{{ DOMAIN }}/pic/menu/masonry3-400x266.jpg" data-title="Proin vel odio eu velit pellentesque al" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Proin vel odio eu velit pellentesque al" src="{{ DOMAIN }}/pic/menu/masonry3-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_3.html" data-author="John Doe" data-pubdate="February 18, 2014" data-thumb="{{ DOMAIN }}/pic/menu/masonry12-400x266.jpg" data-title="Duis facilisis enim quis tortor" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Duis facilisis enim quis tortor" src="{{ DOMAIN }}/pic/menu/masonry12-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_1.html" data-author="John Doe" data-pubdate="February 17, 2014" data-thumb="{{ DOMAIN }}/pic/menu/masonry1-400x266.jpg" data-title="Lorem ipsum dolor sit amet" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Lorem ipsum dolor sit amet" src="{{ DOMAIN }}/pic/menu/masonry1-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_2.html" data-author="John Doe" data-pubdate="February 16, 2014" data-thumb="{{ DOMAIN }}/pic/menu/Depositphotos_34399519_original-400x266.jpg" data-title="Curabitur auctor adipiscing risus sed ornare" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Curabitur auctor adipiscing risus sed ornare" src="{{ DOMAIN }}/pic/menu/Depositphotos_34399519_original-75x75.jpg">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="images_style_3.html" data-author="John Doe" data-pubdate="February 5, 2014" data-thumb="{{ DOMAIN }}/pic/menu/masonry10-400x266.jpg" data-title="Etiam faucibus euismod sapien" data-link="images_style_3.html">
                                                            <img width="75" height="75" alt="Etiam faucibus euismod sapien" src="{{ DOMAIN }}/pic/menu/masonry10-75x75.jpg">
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="item_placeholder">
                                                    <div class="thumb_wrap">
                                                        <img width="400" alt="Maecenas tristique sem ante" src="{{ DOMAIN }}/pic/menu/masonry6-400x266.jpg">
                                                    </div>
                                                    <h4 class="item_title">
                                                        <a href="images_style_3.html">Maecenas tristique sem ante</a>
                                                    </h4>
                                                    <div class="item_info">
                                                        <div class="item_pubdate">
                                                            <span>Posted</span>
                                                            &nbsp;
                                                            <em>March 8, 2014</em>
                                                        </div>
                                                        <div class="item_author">
                                                            <span>by</span>
                                                            &nbsp;
                                                            <em>John Doe</em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a href="{{ DOMAIN }}/{{ csana }}/blog/" class="sf-with-ul"></span>Blog</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="{{ DOMAIN }}/{{ csana }}/#kapcsolat" class="sf-with-ul">Kapcsolat</a>
                                    </li>

                                    <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                        <a href="#" class="sf-with-ul">Oldaltérkép</a>
                                        <ul class="menu-panel columns">
                                            <li>
                                                <ul class="custom-menu-style columns sub-menu">
                                                    {% for item in SitemapItems %}

                                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                            <a href="#" class="sf-with-ul">{{ item.name|e }} <br> Családi Napközi</a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#rolunk">
                                                                        <span class="menu_icon fa-info"></span>
                                                                        Rólunk
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#napirend">
                                                                        <span class="menu_icon fa-calendar-o"></span>
                                                                        Napirend
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#arak">
                                                                        <span class="menu_icon fa-money"></span>
                                                                        Árak
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#galeria">
                                                                        <span class="menu_icon fa-image"></span>
                                                                        Galéria
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/blog/">
                                                                        <span class="menu_icon fa-bookmark-o"></span>
                                                                        Blog
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#kapcsolat">
                                                                        <span class="menu_icon fa-phone"></span>
                                                                        Kapcsolat
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                            <div class="sitemap_menu_logo">
                                                                <a href="{{ DOMAIN }}/{{ item._name|e }}/">
                                                                    <img src="{{ DOMAIN }}/pic/logo/{{ item._name|e }}_logo.png" class="{{ item._name|e }}" alt="{{ item.name|e }} Családi Napközi ">
                                                                </a>
                                                            </div>


                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>