<!--section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"><span class="sc_icon rt-icon-ok"></span> A kultúra átadása, nemzeti hagyományok megőrzése.<br>Keresztyén értékek közvetítése.</h2>

            </div>
        </div>
    </div>
</section!-->

<section class="post">
    <div class="container">
        <div class="row content">
            <div class="col-sm-12 col-md-8 col-lg-9 col-md-push-4 col-lg-push-3">
                <article class="postLeft hrShadow post margin_bottom_big">
                    <div class="sc_section  col-sm-6 sc_alignleft">
                        <div class="sc_border sc_border_light">
                            <div class="sc_zoom">
                                <img src="{{ DOMAIN }}/resources/img/tablet_1.jpg" data-zoom-image="{{ DOMAIN }}/resources/img/tablet_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <h2 class="post_title">
                        <a href="features_shortcodes_zoom.html">Our theme is easy to use with any type of displays (timeline example)</a>
                    </h2>
                    <div class="postImage margin_bottom_small">
                        <div class="sc_title_image sc_title_left sc_size_large">
                            <img src="{{ DOMAIN }}/resources/img/lens_icon_retina.png" alt="">
                        </div>
                        <h2 class="sc_title sc_title_iconed">Retina Ready</h2>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="features_shortcodes_zoom.html">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 308" href="features_shortcodes_zoom.html">308</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 1" href="features_shortcodes_zoom.html">1</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-star" title="Rating - 79.3" href="features_shortcodes_zoom.html">79.3</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="109" data-likes="10" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 10" href="#">
                                    <span class="likePost">10</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 24, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postRight hrShadow post">
                    <div class="sc_section  sc_alignright col-sm-6 margin_bottom_small">
                        <div class="sc_video_player" data-width="100%" data-height="295" data-last-width="527">
                            <div class="sc_video_player_title"></div>
                            <div class="sc_video_frame sc_video_play_button" data-video="<iframe class=&quot;video_frame&quot; src=&quot;https://youtube.com/embed/636Dp8eHWnM?autoplay=1&quot; allowFullScreen=&quot;allowFullScreen&quot;></iframe>">
                                <img alt="" src="{{ DOMAIN }}/resources/img/video/video_post-523x295.jpg">
                            </div>
                        </div>
                    </div>
                    <h2 class="post_title">
                        <a href="features_shortcodes_video.html">Video post example</a>
                    </h2>
                    <div class="postVideo">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Integer et porttitor massa. Donec eu commodo massa. Nullam dignissim, magna et porttitor fermentum, est massa euismod odio, at pharetra ipsum mi eu felis. Aenean sit amet ante non augue egestas ultricies vel nec urna. Fusce posuere nulla tristique nibh convallis suscipit. Phasellus interdum justo dolor, eget imperdiet arcu ullamcorper nec. </p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="features_shortcodes_video.html">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 576" href="features_shortcodes_video.html">576</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="features_shortcodes_video.html">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="556" data-likes="8" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 8" href="#">
                                    <span class="likePost">8</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 23, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postLeft hrShadow post">
                    <div class="sc_section sc_alignleft col-sm-6">
                        <figure class="sc_image  sc_image_shape_square">
                            <img src="{{ DOMAIN }}/resources/img/laura.jpg" alt="">
                        </figure>
                    </div>
                    <h2 class="post_title">
                        <a href="features_shortcodes_audio.html">Audio post example with cover image</a>
                    </h2>
                    <div class="audio_container with_info margin_bottom_small">
                        <audio class="audio_controls">
                            <source src="{{ DOMAIN }}/resources/sounds/laura.mp3" type="audio/mpeg">
                            Тег audio not supported.
                        </audio>
                    </div>
                    <div class="postAudio">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.<br>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="features_shortcodes_audio.html">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 766" href="features_shortcodes_audio.html">766</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="features_shortcodes_audio.html">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="564" data-likes="6" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 6" href="#">
                                    <span class="likePost">6</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 22, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postRight hrShadow post">
                    <div class="sc_section  col-sm-6 sc_alignright margin_bottom_small">

                        <div class="sc_border sc_border_dark">
                            <div id="swiper_container_2" class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_pagination swiper-container2">
                                <ul class="swiper-wrapper">
                                    <li class="swiper-slide">
                                        <img src="{{ DOMAIN }}/resources/img/slider/9435123826_a4c3b35c08_o-520x390.jpg" alt="">
                                    </li>
                                    <li class="swiper-slide">
                                        <img src="{{ DOMAIN }}/resources/img/slider/masonry6-520x390.jpg" alt="">
                                    </li>
                                    <li class="swiper-slide">
                                        <img src="{{ DOMAIN }}/resources/img/slider/portfolio_item-520x390.jpg" alt="">
                                    </li>
                                </ul>
                                <ul class="flex-direction-nav">
                                    <li>
                                        <a class="swiper-button-prev" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="swiper-button-next" href="#"></a>
                                    </li>
                                </ul>
                                <div class="flex-control-nav">
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <h2 class="post_title">
                        <a href="features_shortcodes_slider.html">Theme is easily adaptable to any mobile device</a>
                    </h2>
                    <div class="postGallery">
                        <p>
                        <div class="sc_title_image sc_title_left sc_size_medium">
                            <img src="{{ DOMAIN }}/resources/img/lens_icon_retina.png" alt="">
                        </div>
                        <h3 class="sc_title sc_title_iconed">Tablet friendly</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="features_shortcodes_slider.html">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 106" href="features_shortcodes_slider.html">106</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="features_shortcodes_slider.html">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="569" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 1" href="#">
                                    <span class="likePost">1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 21, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postDefault hrShadow post">

                    <div class="postQuote">
                        <blockquote cite="#" class="sc_quote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="sc_quote_title">
                                <a href="#">Lisa Kudrow</a>
                            </p>
                        </blockquote>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="#">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 9" href="#">9</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="#">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="582" data-likes="0" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 0" href="#">
                                    <span class="likePost">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 20, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postDefault hrShadow post">
                    <div class="postLink">
                        <p>
                            <a href="#">http://themeforest.net/user/ThemeREX/portfolio</a>
                        </p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="#">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 0" href="#">0</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="#">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="584" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 1" href="#">
                                    <span class="likePost">1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 19, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postDefault hrShadow post">
                    <div class="postStatus">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="#">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 6" href="#">6</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="#">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="586" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 1" href="#">
                                    <span class="likePost">1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 18, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postDefault hrShadow post">
                    <div class="postAside">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="#">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 5" href="#">5</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="#">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="588" data-likes="0" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 0" href="#">
                                    <span class="likePost">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 17, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
                <article class="postDefault hrShadow post">
                    <div class="postChat">
                        <div class="sc_chat">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="sc_quote_title">
                                <a href="#">Mike</a>
                            </p>
                        </div>
                        <div class="sc_chat">
                            <p>Vivamus nec quam nec elit porta dictum. Praesent dignissim eget ligula vel posuere. Proin sed mauris faucibus, euismod erat a, placerat odio.</p>
                            <p class="sc_quote_title">
                                <a href="#">Lisa</a>
                            </p>
                        </div>
                    </div>

                    <div class="postSharing">
                        <ul>
                            <li class="squareButton light ico">
                                <a class="fa-link" title="More" href="#">More</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Views - 3" href="#">3</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Comments - 0" href="#">0</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="593" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Like - 1" href="#">
                                    <span class="likePost">1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Posted
                        <a href="#" class="post_date">February 16, 2014</a>
                        <span class="separator">|</span>
                        by
                        <a href="#" class="post_author">John Doe</a>
                        <span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span>
                    </div>
                </article>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-md-pull-8 col-lg-pull-9">
                <div id="sidebar_main" class="widget_area sidebar_main sidebar" role="complementary">
                    <div id="timeline_slider" class="sc_section">
                        <h2 class="sc_title sc_title_regular margin_bottom_small">Blogunk</h2>
                        <div class="sc_timeline sc_blogger sc_blogger_vertical style_date sc_scroll_controls sc_scroll_controls_vertical no_description">
                            <div id="swiper_container_17" class="sc_scroll sc_scroll_vertical swiper-container_17">
                                <div class="sc_blogger sc_blogger_vertical style_date swiper-wrapper">
                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">08.03</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_1.html">Maecenas tristique sem ante</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">1255</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">03.03</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_2.html">Vivamus pharetra justo eget</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">798</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">28.02</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_3.html">Sed orci odio</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">555</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item sc_blogger_item_last">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">26.02</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_1.html">Ut vitae lacus pretium</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">355</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">08.03</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_1.html">Maecenas tristique sem ante</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">1255</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">03.03</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_2.html">Vivamus pharetra justo eget</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">798</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">28.02</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_3.html">Sed orci odio</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">555</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item sc_blogger_item_last">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">26.02</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_1.html">Ut vitae lacus pretium</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">355</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">08.03</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_1.html">Maecenas tristique sem ante</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">1255</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">03.03</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_2.html">Vivamus pharetra justo eget</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">798</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">28.02</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_3.html">Sed orci odio</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">555</span>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                        <article class="sc_blogger_item sc_blogger_item_last">
                                            <div class="sc_blogger_date">
                                                <span class="day_month">26.02</span>
                                                <span class="year">2014</span>
                                            </div>
                                            <h4 class="sc_blogger_title sc_title">
                                                <a href="images_style_1.html">Ut vitae lacus pretium</a>
                                            </h4>
                                            <div class="sc_blogger_info">
                                                by
                                                <a href=# class="post_author">John Doe</a>
                                                <span class="separator">|</span>
                                                Views
                                                <span class="comments_number">355</span>
                                            </div>
                                        </article>
                                    </div>


                                </div>
                            </div>
                            <ul class="flex-direction-nav">

                                <li>
                                    <div class="swiper-button-prev17"></div>
                                </li>
                                <li>
                                    <div class="swiper-button-next17"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
