

    <div class="container">

        <h2>Galéria</h2>
        <div class="row">
            <div class="col-sm-12">
                <div id="style_portfolio_mc" class="masonryWrap">
                    <div class="isotopeFiltr"></div>
                    <section class="masonry isotope" data-columns="4">



                        {% for fullGalery in fullGaleryList %}

                            {% for photo in fullGalery.photoList %}

                                    <article class="isotopeElement {{ fullGalery.galeryFilter|e }} isotopeElementShow">
                                        <div class="isotopePadding">

                                            <div class="thumb hoverIncrease" data-image="{{ DOMAIN }}/{{ photo.getSrc|e }}" data-title="{{ fullGalery.galery.getTitle|e }} ({{ photo.getTitle|e }})">

                                                    <img alt="{{ photo.getTitle|e  }}" src="{{ DOMAIN }}/{{ photo.getSrc|e }}&w=714&h=488">

                                            </div>

                                            <h4>
                                                <p><span class="fa-camera" title="More">&nbsp;</span> {{ photo.getTitle|e }}
                                                <span class="img_pubdate">
                                                   <em>Feltöltve:&nbsp;{{ photo.getHunCreateDate }}</em>
                                                </span>
                                                </p>
                                            </h4>

                                                <!--div class="masonryMore">

                                                        <li class="squareButton light ico">
                                                            <span class="fa-camera" title="More">32</span>
                                                        </li>
                                                        <li class="squareButton light ico">
                                                            <a class="fa-eye" title="Views - 1064" href="#">1064</a>
                                                        </li>
                                                        <li class="squareButton light ico likeButton like" data-postid="569" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                                            <a class="fa-heart" title="Like - 1" href="#">
                                                                <span class="likePost">1</span>
                                                            </a>

                                                </div-->


                                        </div>
                                    </article>
                            {% endfor %}

                        {% endfor %}


                    </section>
                </div>
            </div>
        </div>
    </div>
