<section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"><span class="sc_icon rt-icon-heart4 "></span> Szeretettel várjuk gyermekét a Családi Napközinkben! <span class="sc_icon rt-icon-heart4 "></span></h2>
            </div>
        </div>
    </div>
</section>

<section id="rolunk">
    <div class="container" role="main">
        <div class="postQuote">
            <blockquote cite="#" class="sc_quote">
                <p>Engedjétek hozzám jönni a gyermekeket és ne tiltsátok el őket, mert ilyeneké az Istennek országa."
                </p>
                <p class="sc_quote_title">
                    <a href="#">Márk 10:14</a>
                </p>
            </blockquote>
            <h2>Rólunk</h2>
            <p class="rolunk"> Kiemelt célunk a bölcsődei ellátásban nem részesülő gyerekek gondozása, nevelése, foglalkoztatása, szükségleteiknek és életkoruknak megfelelően, családias környezetben. 20 hetestől 3 éves korú gyermekek részére nyújtunk napközbeni ellátást.
                Családi napközink 7 gyermek egész napos ellátását vállalja, de lehetőséget nyújtunk heti, napi és néhány órás gyermek felügyeletre is.
                Hangsúlyozzuk a múlt értékeinek átmentését, hagyományainkat, ünnepeinket ápolva (néphagyomány, egyházi ünnepek). Nélkülözhetetlennek tarjuk a játékot, a mesét, az örömteli mozgást, valamint a sok-sok tevékenységhez kapcsolódó, sikerélményekre épülő nevelést, mindezeket zenén keresztül is.
                Célunk a természet megszerettetése és környezettudatos életvitel megalapozása. Otthonos, családias, szeretetteljes légkört teremtünk, hogy a gyermekek egyéni képességeiknek megfelelően szocializálódjanak.
                Kiemelten odafigyelünk a gyermekek életkorának megfelelő, vitaminban gazdag étkeztetésére.
                Alapvetően fontosnak tartjuk a gyermekek egyéni képességeinek a feltárását, személyiségüknek harmonikus fejlesztése érdekében. Nagy hangsúlyt fektetünk arra, hogy gyermekeink kreativitásához, önmegvalósításához a szükséges feltételeket, lehetőségeket megteremtsük. Ügyelünk a gyermekek életkorának megfelelő készségek kialakítására, fejlesztésére, különböző nevelési alapelvek figyelembe vételével.
                Fontosnak tartjuk a mai rohanó világban, hogy nem csak az értelmi fejlődésre, hanem a lélek egészségére is odafigyeljünk. Korunkra jellemző, hogy mindenki tartozni akar valahová, ezt eldönteni gyerekfejjel nagyon nehéz, de mi megpróbáljuk hitben élve megmutatni a helyes utat, de tiszteletben tartva a más felekezethez tartozást.
                Személyiségünkkel nevelünk, ezért munkatársainkkal fontosnak tartjuk a folyamatos önnevelést, mentális képzést, szakmai ismeretek bővítését. Mindezt megtesszük annak érdekében, hogy a gyermekeket az anyanyelvi és környezeti nevelés terén minél több gyakorlati tapasztalathoz juttassuk.
                A szülők mellett a gyerekeknek szükségük van más felnőtt társaságára is, akikkel rokonszenveznek, akikben bizalmasra, barátra találnak, akik a szülők túlterheltsége idején figyelnek rájuk. Családi napközink nagy segítséget nyújt mindebben a munkát vállaló szülőknek és azoknak is, akik fontosnak tartják, hogy gyermekeik megismerjék a keresztyén erkölcsi értékeket, szeretetben, hitben nevelkedjenek.
            </p>

        </div>
    </div>
</section>

<section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"><span class="sc_icon rt-icon-home"></span> Célunk boldog gyermekek nevelése, családias környezetben <span class="sc_icon rt-icon-home"></span></h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="sc_parallax light" data-parallax-speed="0.3" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                <div class="sc_parallax_content parallax_bg5">
                    <div class="container">
                        <div class="sc_section sc_alignright col-sm-6 text-center">
                            <br><br><br><br><br><br>
                            <h2 class="sc_title sc_title_regular theme_accent margin_top_big">
                                Nagy gondot fordítunk gyermeke<br>
                                felügyeletére
                            </h2>
                            <h3 class="sc_title sc_title_divider theme_accent2">
                                <span class="sc_title_divider_before"></span>
                                Biztonságot nyújtó, szeretetteljes légkör.
                                <span class="sc_title_divider_after"></span>
                            </h3>
                            <br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="napirend">
    <div class="container-fluid">
        <div class="row">
            <div class="sc_parallax light" data-parallax-speed="0.3" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                <div class="sc_parallax_content parallax_bg6">
                    <div class="container">
                        <div class="sc_section sc_alignleft col-sm-6 text-left">
                            <br>
                            <blockquote cite="#" class="sc_quote">
                                <h2>Napirend</h2>
                                <span>
                                    <table style="font-family: Arial, Helvetica, sans-serif;">
                                        <tr>
                                            <td><b>07:30 - 08:30 </b> </td><td> a gyerekek fogadása, szabad játék</td>
                                        </tr>
                                        <tr>
                                            <td><b>08:30 - 08:40 </b> </td><td> tisztálkodás, „tollászkodás”, készülődés a reggelihez</td>
                                        </tr>
                                        <tr>
                                            <td><b>08:40 - 09:00 </b> </td><td> reggeli</td>
                                        </tr>
                                        <tr>
                                            <td><b>09:00 - 10:15 </b> </td><td> játék (kreatív játékok, versek, mondókák), ugri-bugri torna</td>
                                        </tr>
                                        <tr>
                                            <td><b>10:15 - 10:25 </b> </td><td> készülődés a tízóraihoz</td>
                                        </tr>
                                        <tr>
                                            <td><b>10:25 - 10:40 </b> </td><td> tízórai</td>
                                        </tr>
                                        <tr>
                                            <td><b>10:40 - 12:00 </b> </td><td> figyelemmel kísért szabad játék (lehetőség szerint az udvaron), kiscsoportos foglalkozások heti terv szerint.</td>
                                        </tr>
                                        <tr>
                                            <td><b>12:00 - 12:10 </b> </td><td> tisztálkodás, készülődés az ebédhez</td>
                                        </tr>
                                        <tr>
                                            <td><b>12:10 - 12:40 </b> </td><td> ebéd</td>
                                        </tr>
                                        <tr>
                                            <td><b>12:40 - 13:00 </b> </td><td> tisztálkodás, fogmosás, készülődés az ebédhez, a félnapos gyerekek hazaadása</td>
                                        </tr>
                                        <tr>
                                            <td><b>13:00 - 15:00 </b> </td><td> csendes pihenő, alvás</td>
                                        </tr>
                                        <tr>
                                            <td><b>15:00 - 15:15 </b> </td><td> ébredés, „tollászkodás”</td>
                                        </tr>
                                        <tr>
                                            <td><b>15:15 - 15:30 </b> </td><td> Uzsonna</td>
                                        </tr>
                                        <tr>
                                            <td><b>15:30 - 16:30 </b> </td><td> játék, kötetlen foglalkozás a szülők érkezéséig</td>
                                        </tr>
                                    </table>

                                </span>
                            </blockquote>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"><span class="sc_icon rt-icon-ok"></span> Egészséges értelmi és lelki fejlődés</h2>
            </div>
        </div>
    </div>
</section>


<section id="arak">
    <div class="container-fluid">
        <div class="row">
            <div class="sc_parallax light" data-parallax-speed="0.3" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                <div class="sc_parallax_content parallax_bg2">
                    <div class="container">
                        <div class="sc_section sc_alignleft col-sm-6 text-left">
                            <br><br>
                            <blockquote cite="#" class="sc_quote">
                                <h2>Árak</h2>
                                <span>
                                    <table>
                                        <tr>
                                            <th><b>Havi díj: </b></th>
                                            <td>30.000 Ft</td>
                                        </tr>
                                        <tr>
                                            <th><b>Havi díj fél nap: </b></th>
                                            <td>15.000 Ft</td>
                                        </tr>
                                        <tr>
                                            <th><b>Étkezés: </b></th>
                                            <td>Étkezési díj nincs</td>
                                        </tr>

                                    </table>
                                    <br>
                                    <!--h3 style="text-align: center; background: #eeecc4; padding: 30px 10px; border: 1px solid #ff0000;"><b>2015.01.01.-től 2015.10.31.-ig 	naponta 4 alkalommal <br> <span style="color:#ff0000;text-decoration: blink;">ingyenes étkezést biztosítunk</span><br> minden gyermek számára.</b>
                                        <br><br>
                                        Havonta egy-egy alkalommal <span style="color:#ff0000;text-decoration: blink;">ingyenesen</span> biztosított szolgáltatásaink:
                                        Ringató, 	Bábszínház, 	Zenebölcsi.
                                    </h3-->
                                    <br>

                                </span>
                            </blockquote>
                            <p class="text-higlight"><b>Az árak 2015. november 1-től érvényesek.</b></p>
                            <br><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"><span class="sc_icon rt-icon-ok"></span> Sikerélményekre épülő nevelés<br> Keresztény értékek közvetítése</h2>
            </div>
        </div>
    </div>
</section>


<section class="text-center color_section" id="kapcsolat">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"> <span class="sc_icon fa-phone"></span> +36-70-639-72-82 &nbsp;&nbsp;&nbsp;&nbsp; <span class="sc_icon fa-envelope"></span> csana.kistemplom@gmail.com </h2>


            </div>
        </div>
    </div>
</section>

<section id="kapcsolat" id="map">
    <iframe src="https://mapsengine.google.com/map/embed?mid=zm0u35O6f7Cw.kNAInMqVeRQU" class="map_frame"></iframe>
</section>

<section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <h2 class="sc_title sc_title_regular"><span class="sc_icon rt-icon-ok"></span> Derűs, kiegyensúlyozott, szeretetteljes nevelői légkör </h2>

            </div>
        </div>
    </div>
</section>

<section class="mainWrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_contact_form sc_contact_form_contact">
                    <h1 class="title">Üzenet küldése az intézményvezető számára</h1>
                    <form data-formtype="contact" method="post" action="uzenet-kuldes">
                        <div class="columnsWrap">
                            <div class="col-sm-4">
                                <label class="required" for="sc_contact_form_username">Név</label>
                                <input id="sc_contact_form_username" type="text" name="username">
                            </div>
                            <div class="col-sm-4">
                                <label class="required" for="sc_contact_form_email">E-mail cím</label>
                                <input id="sc_contact_form_email" type="text" name="email">
                            </div>
                            <div class="col-sm-4">
                                <label class="required" for="sc_contact_form_subj">Tárgy</label>
                                <input id="sc_contact_form_subj" type="text" name="subject">
                            </div>
                        </div>
                        <div class="message">
                            <label class="required" for="sc_contact_form_message">Üzenet</label>
                            <textarea id="sc_contact_form_message" class="textAreaSize" name="message"></textarea>
                        </div>
                        <div class="sc_contact_form_button">
                            <div class="squareButton ico">
                                <a href="#" class="sc_contact_form_submit icon-comment">Üzenet küldése</a>
                            </div>
                        </div>
                        <div class="result sc_infobox"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>