<header id="header" class="menu_right with_user_menu noFixMenu">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="topWrap">
                    <div class="usermenu_area">
                        <div class="container">
                            <div class="menuUsItem menuItemRight">
                                <ul id="usermenu" class="usermenu_list sf-arrows">
                                    <li class="usermenu_cart">

                                    </li>
                                    {% if action == "blog" %}
                                        {% if LOGGED %}
                                            <li class="usermenu_login">
                                                <a href="#kijelentkezes" class="user-popup-link fa-sign-out"> Kijelentkezés</a>
                                            </li>
                                        {% else %}
                                            <li class="usermenu_login">
                                                <a href="#bejelentkezes" class="user-popup-link fa-sign-in"> Bejelentkezés</a>
                                            </li>
                                        {% endif %}

                                    {% endif %}
                                    <li class="usermenu_sound">
                                        <a href="#" class="fa-volume-up" title="Hang be/ki"></a>
                                        <ul>
                                            <li>
                                                <a href="#" class="sound_mainmenu fa fa-close"> Főmenü</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_othermenu fa fa-close"> További menűpontok</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_buttons fa fa-check"> Gombok</a>
                                            </li>
                                            <li>
                                                <a href="#" class="sound_links fa fa-close"> Linkek</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="menuUsItem menuItemLeft">
                                Kistemplomi Családi Napközi <span class="halozat_1">hálózat</span> &nbsp;&nbsp;&nbsp; {% if LOGGED %} Üdvözöljük {{ LoggedUser.getName|e }}! {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="topWrap">
                    <div class="container">
                        <div class="mainmenu_area">
                            <div class="logo logo_left with_text">
                                <a href="#">
                                    <img src="{{ DOMAIN }}/resources/img/logo/{{ csana }}_logo.png" class="logo_main" alt="">
                                    <img src="{{ DOMAIN }}/resources/img/logo/{{ csana }}_logo.png" class="logo_fixed" alt="">
                                    <span class="logo_text">{{ Csana }} Családi Napközi</span>
                                    <!--span class="logo_slogan">Premium Children HTML Theme</span-->
                                </a>
                            </div>
                            {% if LOGGED %}
                            <div class="header_user_photo">
                                <img src="{{ DOMAIN }}/{{ LoggedUser.getProfilePhoto|e }}" alt="{{ LoggedUser.getName|e }}">
                            </div>
                            {% endif %}
                            <div class="search" title="Open/close search form">
                                <div class="searchForm">
                                    <form method="get" class="search-form" action="#">
                                        <button type="submit" class="searchSubmit" title="Start search">
                                            <span class="icoSearch"></span>
                                        </button>
                                        <input type="text" class="searchField" placeholder="Search …" value="" name="s" title="Search for:">
                                    </form>
                                </div>
                                <div class="ajaxSearchResults"></div>
                            </div>
                            <a href="#" class="openResponsiveMenu">Menu</a>
                            <nav id="mainmenu_wrapper" class="menuTopWrap topMenuStyleLine">
                                <ul id="mainmenu" class="nav sf-menu sf-arrows">

                                    <li class="menu-item active">
                                        <a href="{{ DOMAIN }}/" class="sf-with-ul"><span class="home_icon fa-home"></span></a>
                                    </li>

                                    <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                        <a href="#" class="sf-with-ul">Oldaltérkép</a>
                                        <ul class="menu-panel columns">
                                            <li>
                                                <ul class="custom-menu-style columns sub-menu">
                                                    {% for item in SitemapItems %}

                                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                            <a href="#" class="sf-with-ul">{{ item.name|e }} <br> Családi Napközi</a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#rolunk">
                                                                        <span class="menu_icon fa-info"></span>
                                                                        Rólunk
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#napirend">
                                                                        <span class="menu_icon fa-calendar-o"></span>
                                                                        Napirend
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#arak">
                                                                        <span class="menu_icon fa-money"></span>
                                                                        Árak
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/galeria/">
                                                                        <span class="menu_icon fa-image"></span>
                                                                        Galéria
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/blog/">
                                                                        <span class="menu_icon fa-bookmark-o"></span>
                                                                        Blog
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="{{ DOMAIN }}/{{ item._name|e }}/#kapcsolat">
                                                                        <span class="menu_icon fa-phone"></span>
                                                                        Kapcsolat
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                            <div class="sitemap_menu_logo">
                                                                <a href="{{ DOMAIN }}/{{ item._name|e }}/">
                                                                    <img src="{{ DOMAIN }}/resources/img/logo/{{ item._name|e }}_logo.png" class="{{ item._name|e }}" alt="{{ item.name|e }} Családi Napközi ">
                                                                </a>
                                                            </div>


                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item current-menu-ancestor menu-item-has-children columns custom_view_item">
                                        <a href="#" class="sf-with-ul">Aktuális</a>
                                        <ul class="menu-panel columns">
                                            <li>
                                                <ul class="custom-menu-style columns sub-menu">
                                                    <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">

                                                        <a href="#" class="sf-with-ul">{{ Csana }} <br> Családi Napközi</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="{{ DOMAIN }}/{{ csana }}/#rolunk">
                                                                    <span class="menu_icon fa-info"></span>
                                                                    Rólunk
                                                                </a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{{ DOMAIN }}/{{ csana }}/#napirend">
                                                                    <span class="menu_icon fa-calendar-o"></span>
                                                                    Napirend
                                                                </a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{{ DOMAIN }}/{{ csana }}/#arak">
                                                                    <span class="menu_icon fa-money"></span>
                                                                    Árak
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children menu-item thumb custom_view_item">
                                        <a href="{{ DOMAIN }}/{{ csana }}/galeria/" class="sf-with-ul">Galéria</a>
                                        <ul class="menu-panel thumb">
                                            <li>

                                                <ul class="custom-menu-style thumb sub-menu">
                                                    {% for photo in lastTenPhotoList %}
                                                        <li>
                                                            <a href="{{ DOMAIN }}/{{ csana }}/galeria/" data-author="" data-pubdate=" {{ photo.getHunCreateDate }}" data-thumb="{{ DOMAIN }}/{{ photo.getSrc|e }}" data-title="{{ photo.getTitle }}" data-link="#galeria">
                                                                <img width="75" height="75" alt="{{ photo.getTitle|e }}" src="{{ DOMAIN }}/{{ photo.getSrc|e }}">
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                                <div class="item_placeholder">
                                                    <div class="thumb_wrap">
                                                        <img width="400" alt="{{ lastPhoto.getTitle|e }}" src="{{ DOMAIN }}/{{ lastPhoto.getSrc|e }}">
                                                    </div>
                                                    <h4 class="item_title">
                                                        <a href="{{ DOMAIN }}/{{ csana }}/galeria/">{{ lastPhoto.getTitle|e }}</a>
                                                    </h4>
                                                    <div class="item_info">
                                                        <div class="item_pubdate">
                                                            <span>Feltöltve:</span>
                                                            &nbsp;
                                                            <em>{{ lastPhoto.getHunCreateDate }}</em>
                                                        </div>
                                                        <div class="item_author">
                                                            <span></span>
                                                            &nbsp;
                                                            <em></em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a href="{{ DOMAIN }}/{{ csana }}/blog/" class="sf-with-ul"></span>Blog</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="{{ DOMAIN }}/{{ csana }}/#kapcsolat" class="sf-with-ul">Kapcsolat</a>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>