

    <div class="slideContent slide-2">
        <div class="container">
            <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="left" data-opposite="true" data-move-offset="900" data-delay="300" data-speed="900" data-easing="easeOutBack" src="{{ DOMAIN }}/resources/img/slider/kinder-slide-2-1.png" data-rsw="1020" data-rsh="500">
            <div class="rsABlock textBlock" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="900" data-delay="700" data-speed="1200" data-easing="" data-rsw="707" data-rsh="471">
                <div class="title">Üdvözöljük!</div>
                <p>Örömmel látjük Önt <br>a Családi Napközink honlapján!</p>
            </div>
        </div>
    </div>