

<section class="post">
    <div class="container">
        <div class="row content">
            <div class="col-sm-12 col-md-8 col-lg-9 col-md-push-4 col-lg-push-3">

                <article class="postRight hrShadow post">
                    <div class="sc_section  col-sm-6 sc_alignright margin_bottom_small">

                        <div class="sc_border sc_border_dark">
                            <div id="swiper_container_2" class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_pagination swiper-container2">
                                <ul class="swiper-wrapper">

                                    {% for photo in selectedPhotoList %}

                                        <li class="swiper-slide">
                                            <img src="{{ DOMAIN }}/{{ photo.getSrc | e }}&w=305&h=229" alt="{{ photo.getTitle | e }}">
                                        </li>

                                    {% endfor %}
                                </ul>
                                <ul class="flex-direction-nav">
                                    <li>
                                        <a class="swiper-button-prev" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="swiper-button-next" href="#"></a>
                                    </li>
                                </ul>
                                <div class="flex-control-nav">
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--h2 class="post_title">
                        <a href="features_shortcodes_slider.html">{{ selectedblog.getTitle | e }}</a>
                    </h2-->
                    <div class="postGallery">
                        <p>
                        <!--div class="sc_title_image sc_title_left sc_size_medium">
                            <img src="{{ DOMAIN }}/resources/img/lens_icon_retina.png" alt="">
                        </div-->
                        <h3 class="sc_title sc_title_iconed">{{ selectedBlog.getTitle | e }}</h3>
                        {{ selectedBlog.getText | raw }}
                        </p>
                    </div>
                    <div class="postSharing">
                        <ul>
                            <!--li class="squareButton light ico">
                                <a class="fa-link" title="More" href="features_shortcodes_slider.html">More</a>
                            </li-->
                            <li class="squareButton light ico">
                                <a class="fa-eye" title="Látták - {{ selectedBlog.getViews }}" href="features_shortcodes_slider.html">{{ selectedBlog.getViews }}</a>
                            </li>
                            <li class="squareButton light ico">
                                <a class="fa-comment" title="Hozzászólások - {{ selectedBlog.getComments }}" href="features_shortcodes_slider.html">{{ selectedBlog.getComments }}</a>
                            </li>
                            <li class="squareButton light ico likeButton like" data-postid="569" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                <a class="fa-heart" title="Tetszések - {{ selectedBlog.getLikes }}" href="#">
                                    <span class="likePost">{{ selectedBlog.getLikes }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="post_info infoPost">
                        Létrehozva
                        <a href="#" class="post_date">{{ selectedBlog.getHunCreateDate }}</a>
                        <span class="separator">|</span>
                        létrehozó
                        <a href="#" class="post_author">Kistemplomicsana</a>
                        <!--span class="separator">|</span>
                            <span class="post_cats">
                                in
                                <a class="cat_link" href="#">Post Formats,</a>
                                <a class="cat_link" href="#">Post formats fullwidth</a>
                            </span-->
                    </div>
                </article>


                <article class="postDefault hrShadow post">
                    <div class="postChat">
                        <div class="sc_chat">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="sc_quote_title">
                                <a href="#">Mike</a>
                            </p>
                        </div>
                        <div class="sc_chat">
                            <p>Vivamus nec quam nec elit porta dictum. Praesent dignissim eget ligula vel posuere. Proin sed mauris faucibus, euismod erat a, placerat odio.</p>
                            <p class="sc_quote_title">
                                <a href="#">Lisa</a>
                            </p>
                        </div>
                    </div>

                </article>
            </div>








            <div class="col-sm-12 col-md-3 col-lg-3 col-md-pull-8 col-lg-pull-9">
                <div id="sidebar_main" class="widget_area sidebar_main sidebar" role="complementary">
                    <div id="timeline_slider" class="sc_section">
                        <h2 class="sc_title sc_title_regular margin_bottom_small">Blogunk</h2>
                        <div class="sc_timeline sc_blogger sc_blogger_vertical style_date sc_scroll_controls sc_scroll_controls_vertical no_description">
                            <div id="swiper_container_17" class="sc_scroll sc_scroll_vertical swiper-container_17">
                                <div class="sc_blogger sc_blogger_vertical style_date swiper-wrapper">

                                    {% for blog in blogList %}

                                        <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                            <article class="sc_blogger_item">
                                                <div class="sc_blogger_date">
                                                    <span class="day_month">{{ blog.getMonthAndDay }}</span>
                                                    <span class="year">{{ blog.getYear }}</span>
                                                </div>
                                                <h4 class="sc_blogger_title sc_title">
                                                    <a href="{{ blog.getId }}">{{ blog.getTitle|e }}</a>
                                                </h4>
                                                <div class="sc_blogger_info">
                                                    látták:
                                                    <span class="comments_number">{{ blog.getViews }}</span>
                                                </div>
                                            </article>
                                        </div>

                                        <!--div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                            <article class="sc_blogger_item">
                                                <div class="sc_blogger_date">
                                                    <span class="day_month">{{ blog.getMonthAndDay }}</span>
                                                    <span class="year">{{ blog.getYear }}</span>
                                                </div>
                                                <h4 class="sc_blogger_title sc_title">
                                                    <a href="{{ blog.getId }}">{{ blog.getTitle|e }}</a>
                                                </h4>
                                                <div class="sc_blogger_info">
                                                    létrehozó:
                                                    <a href=# class="post_author">Kistemplomicsana</a>
                                                    <span class="separator">|</span>
                                                    látták:
                                                    <span class="comments_number">1255</span>
                                                </div>
                                            </article>
                                        </div-->

                                    {% endfor %}


                                </div>
                            </div>
                            <ul class="flex-direction-nav">

                                <li>
                                    <div class="swiper-button-prev17"></div>
                                </li>
                                <li>
                                    <div class="swiper-button-next17"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
