<script src="{{ DOMAIN }}/resources/js/vendor/jquery-1.11.3.min.js"></script>
<script src="{{ DOMAIN }}/resources/js/vendor/bootstrap.min.js"></script>
<script src="{{ DOMAIN }}/resources/js/vendor/jquery.ui.totop.js"></script>

<!--<script src="custom_tools/js/customizer.js"></script>-->

<script type="text/javascript" src="{{ DOMAIN }}/resources/js/main/__packed.js"></script>
<script type="text/javascript" src="{{ DOMAIN }}/resources/js/main/shortcodes_init.js"></script>
<script type="text/javascript" src="{{ DOMAIN }}/resources/js/main/_main.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{{ DOMAIN }}/resources/js/main/g_maps.js"></script>