<section>
    <div class="sliderHomeBullets staticSlider slider_engine_royal slider_alias_4">
        <div class="royalSlider">
            {% embed "slider_1.twig" %}{% endembed %}
            {% embed "slider_2.twig" %}{% endembed %}
        </div>
    </div>
</section>