
   <div class="slideContent slide-1">
        <div class="container">
            <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="left" data-opposite="true" data-move-offset="900" data-delay="500" data-speed="900" data-easing="easeOutBack" src="{{ DOMAIN }}/resources/img/slider/kinder-slide-1-1.png" data-rsw="1020" data-rsh="500">
            <div class="rsABlock textBlock textBlock_1 theme_accent" data-fade-effect="none" data-move-effect="left" data-opposite="true" data-move-offset="1200" data-delay="700" data-speed="1200" data-easing="" data-rsw="707" data-rsh="471">
                <div class="title">Üdvözöljük!</div>
                <!--p>Örömmel látjük Önt <br>a Családi Napközink honlapján!</p-->
            </div>
            <div class="rsABlock textBlock textBlock_2" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="950" data-delay="1500" data-speed="900" data-easing="" data-rsw="707" data-rsh="471">
                <p>Örömmel látjük Önt <br>a Családi Napközink honlapján!</p>
            </div>

        </div>
   </div>














