<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block head %}

        {% block title %}
        {% endblock %}

        {% block meta %}
            <meta charset="utf-8">
            <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <![endif]-->
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">        
            <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% endblock %}

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}


    {% endblock %}
</head>
<body class="theme_skin_kinder top_panel_below fullscreen_slider_page">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="box_wrapper"  class="fullScreenSlider">
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
        </div><!-- eof #box_wrapper -->

        {% block preloader %}{% endblock %}
        {% block css_js %}{% endblock %}

</body>
</html>