

    <section class="footerContentWrap">

        <footer class="footerWrap contactFooterWrap_home">
            <div class="container contactFooter">
                <div class="col-sm-12">
                    <div class="logo">
                        <a href="#">
                            <!--img src="img/logo/logo-footer.png" alt=""-->
                            <span class="logo_text">Kistemplomi Családi Napközi <span class="halozat">hálózat</span> </span>
                        </a>
                    </div>

                    <div class="contactAddress">
                        <address class="addressRight">
                            <br>© 2015 &nbsp;&bull;&nbsp; Minden jog fenntartva<br>
                            A honlapot készítette:  <a class="klassz_honlap"  target="_blank" href="http://www.klassz-honlapkeszites.hu"> <strong>klassz-honlapkeszites.hu</strong></a>
                        </address>
                        <address class="addressLeft">

                            <span class="ikon fa-map-marker"></span> &nbsp;&bull;&nbsp; <strong> 4025 Debrecen, Révész tér 2.</strong><br>
                            <span class="ikon fa-phone"></span> &nbsp;&bull;&nbsp; <strong> +36-70-639-72-82</strong><br>
                            <span class="ikon fa-envelope-o"></span> &nbsp;&bull;&nbsp; <strong> csana.kistemplom@gmail.com</strong><br>

                        </address>

                    </div>
                    <div class="contactShare">
                        <ul>
                            <li>
                                <a class="social_icons social_facebook" target="_blank" href="http://facebook.com">
                                    <span></span>
                                </a>
                            </li>
                            <li>
                                <a class="social_icons social_pinterest" target="_blank" href="http://pinterest.com">
                                    <span></span>
                                </a>
                            </li>
                            <li>
                                <a class="social_icons social_twitter" target="_blank" href="http://twitter.com">
                                    <span></span>
                                </a>
                            </li>
                            <li>
                                <a class="social_icons social_gplus" target="_blank" href="http://gplus.com">
                                    <span></span>
                                </a>
                            </li>
                            <li>
                                <a class="social_icons social_rss" target="_blank" href="http://rss.com">
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerWrap contactFooterWrap_bottom">
            </div>
        </footer>

    </section>

