

    <section>
        <div class="fullScreenSlider">
            <div class="sliderHomeBullets slider_engine_royal slider_alias_2">
                <div class="royalSlider rsAutoHeight rsWithBullets" >
                    <div class="slideContent slide-1" data-rsDelay="4000" data-effect="rsTopLeft">

                        <div class="fonBlock"></div>
                        <div class="home_container">

                            <div class="rsABlock textBlock" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="900" data-delay="1200" data-speed="1300" data-easing="easeOutBack" data-rsw="707" data-rsh="471">
                                <div class="title">Kistemplomi Családi Napközi</div>
                                <p>Hálózat</p>
                            </div>
                            <div class="rsABlock textBlock textBlock_1" data-fade-effect="none" data-move-effect="left" data-opposite="true" data-move-offset="900" data-delay="1800" data-speed="2300" data-easing="easeOutBack" data-rsw="707" data-rsh="471">
                                <p>"Bizony, az Úr ajándéka a gyermek, az anyaméh gyümölcse, jutalom."<br> <span>Ige: 127 zsoltár 3 vers</span></p>
                            </div>
                            <div class="rsABlock order number_1" data-fade-effect="none" data-move-effect="left" data-opposite="false" data-move-offset="950" data-delay="1950" data-speed="1300" data-easing="" data-rsw="707" data-rsh="471">
                                <article class="isotopeElement hover_Shift isotopeElementShow">
                                    <div class="ih-item colored circle effect20 bottom_to_top">
                                        <a href="pillango/" class="taphover">
                                            <div class="img">
                                                <img alt="Vestibulum ut lacus et magna" src="{{ DOMAIN }}/resources/img/portfolio/masonry6-287x287.jpg">
                                            </div>
                                            <div class="info">
                                                <div class="info-back pillango">
                                                    <h4>Pillangó</h4>
                                                    <p>Családi napközi</p>
                                                    <img class="info_csana_logo" src="pic/logo/pillango_logo.png" alt="">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>

                            <div class="rsABlock order number_2" data-fade-effect="none" data-move-effect="top" data-opposite="false" data-move-offset="950" data-delay="1950" data-speed="1800" data-easing="" data-rsw="707" data-rsh="471">
                                <article class="isotopeElement hover_Shift isotopeElementShow">
                                    <div class="ih-item colored circle effect20 bottom_to_top">
                                        <a href="ozike/" class="taphover">
                                            <div class="img">
                                                <img alt="Ut a neque tellus" src="{{ DOMAIN }}/resources/img/portfolio/masonry12-287x287.jpg">
                                            </div>
                                            <div class="info">
                                                <div class="info-back ozike">
                                                    <h4>Őzike</h4>
                                                    <p>Családi napközi</p>
                                                    <img class="info_csana_logo" src="pic/logo/ozike_logo.png" alt="">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>

                            <div class="rsABlock order number_3" data-fade-effect="none" data-move-effect="bottom" data-opposite="false" data-move-offset="1950" data-delay="1650" data-speed="1400" data-easing="" data-rsw="707" data-rsh="471">
                                <article class="isotopeElement hover_Shift isotopeElementShow">
                                    <div class="ih-item colored circle effect20 bottom_to_top">
                                        <a href="madarka/" class="taphover">
                                            <div class="img">
                                                <img alt="Proin vel odio eu velit" src="{{ DOMAIN }}/resources/img/portfolio/masonry3-287x287.jpg">
                                            </div>
                                            <div class="info">
                                                <div class="info-back madarka">
                                                    <h4>Madárka</h4>
                                                    <p>Családi napközi</p>
                                                    <img class="info_csana_logo" src="pic/logo/madarka_logo.png" alt="">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>

                            <div class="rsABlock order number_4" data-fade-effect="none" data-move-effect="top" data-opposite="false" data-move-offset="1450" data-delay="1550" data-speed="1200" data-easing="" data-rsw="707" data-rsh="471">
                                <article class="isotopeElement hover_Shift isotopeElementShow">
                                    <div class="ih-item colored circle effect20 bottom_to_top">
                                        <a href="halacska/" class="taphover">
                                            <div class="img">
                                                <img alt="Sed orci odio, adipiscing vel" src="{{ DOMAIN }}/resources/img/portfolio/Depositphotos_34399519_original-287x287.jpg">
                                            </div>
                                            <div class="info">
                                                <div class="info-back halacska">
                                                    <h4>Halacska</h4>
                                                    <p>Családi napközi</p>
                                                    <img class="info_csana_logo" src="pic/logo/halacska_logo.png" alt="">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>

                            <div class="rsABlock order number_5" data-fade-effect="none" data-move-effect="bottom" data-opposite="false" data-move-offset="950" data-delay="1550" data-speed="1500" data-easing="" data-rsw="707" data-rsh="471">
                                <article class="isotopeElement hover_Shift isotopeElementShow">
                                    <div class="ih-item colored circle effect20 bottom_to_top">
                                        <a href="barany/" class="taphover">
                                            <div class="img">
                                                <img alt="Proin vel odio eu velit" src="{{ DOMAIN }}/resources/img/portfolio/masonry4-287x287.jpg">
                                            </div>
                                            <div class="info">
                                                <div class="info-back barany">
                                                    <h4>Bárány</h4>
                                                    <p>Családi napközi</p>
                                                    <img class="info_csana_logo" src="pic/logo/barany_logo.png" alt="">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>
                    <!--div class="slideContent slide-2" data-rsDelay="4000" data-effect="rsBottomRight">
                        <div class="fonBlock"></div>
                        <div class="container">
                            <div class="rsABlock textBlock" data-fade-effect="none" data-move-effect="left" data-opposite="true" data-move-offset="900" data-delay="300" data-speed="1200" data-easing="" data-rsw="707" data-rsh="471">
                                <div class="title">100% Responsive</div>
                                <p>&amp; Retina Friedly</p>
                            </div>
                            <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="950" data-delay="700" data-speed="2000" data-easing="" src="./{{ DOMAIN }}/resources/img/slider/fullscreen-slide-5-2.png" data-rsw="707" data-rsh="471">
                        </div>
                    </div>
                    <div class="slideContent slide-3" data-rsDelay="4000" data-effect="rsTopRight">
                        <div class="fonBlock"></div>
                        <div class="container">
                            <div class="rsABlock textBlock" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="950" data-delay="450" data-speed="1000" data-easing="" data-rsw="707" data-rsh="471">
                                <div class="title">Need Support Help?</div>
                                <p>Go to ThemeRex Tickets!</p>
                            </div>
                            <div class="rsABlock order" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="950" data-delay="950" data-speed="900" data-easing="" data-rsw="707" data-rsh="471">
                                <a href="#">Open Ticket</a>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </section>
