{% extends "base_home_index.html" %}

    {% block title %}
        <title>Kistemplomi Családi Napközi Hálózat | Főoldal </title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ DOMAIN }}/resources/css/minified.css.php" />
        <link rel="stylesheet" id="packed-styles-css" href="{{ DOMAIN }}/resources/css/__packed.css" type="text/css" media="all">
        <link rel="stylesheet" href="{{ DOMAIN }}/resources/css/main_style.css">
        <link rel="stylesheet" id="theme-skin-css" href="{{ DOMAIN }}/resources/css/kinder.css" type="text/css" media="all">
        <style id="theme-skin-inline-css" type="text/css"></style>
        <link rel="stylesheet" id="responsive-css" href="{{ DOMAIN }}/resources/css/responsive.css" type="text/css" media="all">
        <!--<link rel="stylesheet" type="text/css" media="all" href="custom_tools/css/custom_tools.css">-->
    {% endblock %}

    {% block js %}
        <!--[if lt IE 9]>
        <script src="{{ DOMAIN }}/resources/js/vendor/html5shiv.min.js"></script>
        <script src="{{ DOMAIN }}/resources/js/vendor/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block content %}
        {% embed "fullscreen_slider_section.twig" %}{% endembed %}
        {% embed "tamop_content_section_1.twig" %}{% endembed %}
        {% embed "tamop_content_section_2.twig" %}{% endembed %}
    {% endblock %}

    {% block footer %}
        {% embed "footer_section.twig" %}{% endembed %}
    {% endblock %}

    {% block preloader %}
        {% embed "preloader.twig" %}{% endembed %}
    {% endblock %}

    {% block css_js %}
        {% embed "css_js_after_content.twig" %}{% endembed %}
    {%  endblock %}

