
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="postImage text-left">
                        <p> </p>
                        <div class="sc_title_tamop sc_title_right">
                            <img src="{{ DOMAIN }}/resources/img/bg/tamop.png" alt="">
                        </div>

                        <p>2015.| 10.| 30.<br>
                            Debrecen Kistemplom-Ispotályi Református Egyházközség
                        </p>
                        <h3 class="sc_title sc_title_iconed tajekoztato">SAJTÓKÖZLEMÉNY</h3>
                        <p><strong>CSALÁDI NAPKÖZI BŐVÍTÉSE A DEBRECEN KISTEMPLOM-ISPOTÁLYI REFORMÁTUS EGYHÁZKÖZSÉGBEN</strong></p>

                        <p><strong>A Kistemplom-Ispotályi Egyházközség szervezeti keretein belül két új családi napközi kezdte meg működését 2015 februárjában.  A nappali gyermekellátást szolgáló új napközi csoportok kialakítását közel 35 millió forinttal támogatja az Európai Unió és Magyarország Kormánya.</strong></p>

                        <p>Az Egyházközség a projekt megkezdését megelőzően három családi napközit működtetett, melyet két darab, 7 fős napközi csoporttal szándékoztak bővíteni – a felmerülő kapacitásigények kielégítésére. A két új napközi az Egyházközség tulajdonában lévő ingatlanon valósult meg. A projekt keretében építési beruházás és a későbbi működést segítő eszközbeszerzés zajlott 2014 novemberétől kezdődően. A beruházás keretében két csoportszoba, melegítő konyha, korszerű vizesblokk, a gyermekek számára biztonságos játszóudvar került kialakításra, valamint akadálymentessé vált az intézmény. A gyermekek beiratkozása a beruházással párhuzamosan elkezdődött, a tényleges nappali ellátásuk pedig 2015 februárjában kezdődhetett meg a Révész tér 4. szám alatti felújított egyházközségi ingatlanon.</p>

                        <p>A TÁMOP-2.4.5-12/1-2012-0168 számú projekt keretében az újonnan felvett dolgozók képzése történt meg a kisgyermekek szakszerű ellátásának biztosítása érdekében. A projekt megvalósítási időszaka alatt a gyermekek részére ingyenes étkeztetési lehetőséget biztosított az Egyházközség, továbbá a gyermekek külön Zeneovi, Ringató, valamint bábszínházas foglalkozásokon vettek részt. A projekt sikerességét az intézmény dolgozóin túlmenően további szakmai megvalósítók biztosították (tájékoztatás-nyilvánosság, projektmenedzsment, grafikai szolgáltatások). A megvalósítás ideje alatt kommunikációs kampány zajlott, a sikeres létszám biztosítása érdekében, továbbá új „csana” honlap jött létre segítve a szülők tájékoztatását.</p>

                        <p>A projekt eredményeként az intézmény befogadóképessége bővült, így további 14 kisgyermek nappali ellátását képes kulturált körülmények között biztosítani, megteremtve a lehetőséget szüleiknek a munkaerő-piacra való visszatéréshez, illetve a családi és munkahelyi kötelezettségek összeegyeztetéséhez.</p>

                        <p>Az Európai Unió és a Magyar Állam által nyújtott támogatás összege: 34.955.576 Ft.<br>
                            A támogatás mértéke a projekt elszámolható összes költségének 100 %-a.<br>
                            A projekt várható fizikai befejezésének dátuma: 2015.10.31.</p>


                        <br><br><br>
                        <p>További információ kérhető:<br>
                            Debrecen Kistemplom-Ispotályi Református Egyházközség<br>
                            4025 Debrecen, Révész tér 2.<br>
                            csana.kistemplom@gmail.com</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="sc_line sc_line_style_shadow margin_top_small"></div>


        </div>
    </section>

