{% extends "base_index.html" %}

    {% block css %}
        <link rel="stylesheet" href=" {{ DOMAIN }}/resources/css/site/minified.css.php" />
    {% endblock %}

    {% block title %}
        <title> Kistemplomicsana.hu | Regisztráció </title>
    {% endblock %}

    {% block content %}
        <p>Signed in user JSON: {{ UserJson }}</p>
    {% endblock %}
