{% extends "base_index.html" %}

    {% block css %}
        <link rel="stylesheet" href=" {{ DOMAIN }}/resources/css/site/minified.css.php" />
    {% endblock %}

    {% block title %}
        <title> Kistemplomicsana.hu | Kijelentkezés </title>
    {% endblock %}

    {% block content %}
        <h1> {{ welcome }}</h1>
        <h2>Kijelentkezés:</h2>
        <ul>
            {% for country in countries %}
                <li>{{ country.name|e }}</li>
            {% endfor %}
        </ul>
    {% endblock %}
